<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
  <!-- 
  <servlet>
    <servlet-name>ChatRoomCreator</servlet-name>
    <servlet-class>com.chat.servlet.ChatRoomCreator</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatRoomCreator</servlet-name>
    <url-pattern>/create-chat-room</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatRoomViewer</servlet-name>
    <servlet-class>com.chat.servlet.ChatRoomViewer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatRoomViewer</servlet-name>
    <url-pattern>*.chat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageSaver</servlet-name>
    <servlet-class>com.chat.servlet.MessageSaver</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageSaver</servlet-name>
    <url-pattern>/post-msg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageFetcher</servlet-name>
    <servlet-class>com.chat.servlet.MessageFetcher</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageFetcher</servlet-name>
    <url-pattern>/get-msgs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatusPoster</servlet-name>
    <servlet-class>com.chat.servlet.StatusPoster</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusPoster</servlet-name>
    <url-pattern>/post-status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatusFetcher</servlet-name>
    <servlet-class>com.chat.servlet.StatusFetcher</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusFetcher</servlet-name>
    <url-pattern>/get-statuses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CRCreator</servlet-name>
    <servlet-class>com.chat.servlet.CRCreator</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRCreator</servlet-name>
    <url-pattern>/create-new</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAdder</servlet-name>
    <servlet-class>com.chat.servlet.UserAdder</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdder</servlet-name>
    <url-pattern>/UserAdder</url-pattern>
  </servlet-mapping>
  -->
</web-app>